

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootdey">
    <div class="col-md-12 bootstrap snippets">
        <div class="panel">
            <div class="panel-body">
                <!-- Newsfeed Content -->
                <!--===================================================-->
                <div class="media-block">
                    <div class="media-body">


                        <!-- Comments -->
                        <div>


                            <div class="media-block">

                                <div class="media-body">
                                    <div class="mar-btm">
                                        <a href="#" class="btn-link text-semibold media-heading box-inline">Par Flen Ben Foulen</a>
                                        <p class="text-muted text-sm"><i class="fa fa-globe fa-lg"></i> {{cChild.date | date:'short' }}</p>
                                    </div>
                                    <p>{{cChild.commentaire}}</p>

                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--===================================================-->
                <!-- End Newsfeed Content -->


                <!-- Newsfeed Content -->
                <!--===================================================-->

                <!--===================================================-->
                <!-- End Newsfeed Content -->
            </div>
        </div>
    </div>
</div>
